main {
    min-height: calc(100vh - 180px);
    padding: 30px;
}
h1 {
    font-size: 3rem;
    color: inherit;
}
@media (min-width: 1260px) {
    main {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post {
    box-shadow: 0 0 5px 0 #0003;
    border-radius: 10px;
    padding: 20px;
    transition-property: transform, box-shadow;
    transition-duration: .5s;
    font-size: 20px;
    background: no-repeat center / cover;
    position: relative;
    overflow: hidden;
}
.post>* {
    position: relative;
    z-index: 2;
}
.post::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.752) 60%, rgba(33, 213, 51, 0.771));
}
.post:hover {
    box-shadow: 0 0 5px 0 #0003, 0 0 15px 0 #0003;
    transform: scale(1.01, 1.01);
    font-size: 20px;
}